/*text fonts*/
.font {
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Mono', monospace;
}


/*background*/
html {
    height: 100%;
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

.form-container {
    display: flex;
    flex-direction: column;
}

input {
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 20px;
    margin: 10px 0;
}

ul#progressbar {
    width: 800px;
    margin: 0 auto;
}

.form-container {
    margin-top: 15px;
    text-align: center;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
}
#progressbar li:first-child:after {
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
    transition: 2s;
	background: #27AE60;
	color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
}

.step {
  transition: 1s;
  position: absolute;
}
/*first slide parameters*/
.step1 {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.3);
    border-radius: 3px;
}

/*second slide parameters*/
.step2 {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.3);
    border-radius: 3px;
    top: 2000px;
}

/*third slide parameters*/
.step3 {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.3);
    border-radius: 3px;
    top: 3000px;
}


/*button next in first slide*/
.next-action-button {
    position: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    width: 100px;
    height: 35px;
}


/*button next in second slide*/
.next-action-button2 {
    position: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    width: 100px;
    height: 35px;
}

/*button previous in second slide*/
.previous-action-button {
    position: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    width: 100px;
    height: 35px;
}

/*button previous in third slide*/
.previous-action-button2 {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    width: 100px;
    height: 35px;
}

input[type="button"]{
    width: 100px;
    height: 40px;
}

.btn-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*button submit in third slide*/
.submit-action-button {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    height: 40px;
}

textarea {
    width: 342px;
    height: 50px;
}